{
  "extends": "vtex-react/io",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "no-void": "off"
  }
}
