.phoneField :global(.vtex-input__prefix) {
  padding-left: 0;
}

.phoneField :global(.vtex-input__prefix) {
  flex-shrink: 0;
}

.listboxButton {
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: .5rem;
}
